@charset "UTF-8";

.na_size{
	padding:0 auto;
	maring: 0 auto;
	width: 100%;
	margin: 40px 0 0 0;
	position: absolute;
}

.na_sub_size{
	background-color: #663300;
	max-width: 1200px;
	height: 60px;
}

#na_menu ul{
	-webkit-padding-start:0px;
	/* overflow: hidden; */
}

#na_menu ul>li{
	float:left;
	width: 15%;
	list-style: none;
	text-align: center;
	position: relative;
	
}

#na_menu ul>li:hover .sub{
	display: block;
}


#na_menu ul>li a{
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	line-height: 60px;
	display: block;
}

#na_menu ul>li a:hover{
	color: #ffffff;
	background-color: #330000;
}

#na_menu .sub{
	-webkit-padding-start:0px;
	top: 60px;
	left: 0px;
	width: 100%;
	position: absolute;
	display: none;
}

#na_menu .sub li{
	background-color: #CC9966;
	width: 100%;
	float: left;
}

#na_menu .sub li a{
	color: #000;
}

#na_menu .sub li a:hover{
	background: #996633;	
}